{{#each error}}
    <div class="error">{{texto}}</div>
{{/each}}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/categoryUpdate.css">
    <title>Atualizar categoria</title>
</head>
<body>
    <div class="container">
        <form action="/admin/categoryUpdate" method="post" id="categoryUpdateForm">
            <input type="hidden" name="id" value="{{category._id}}">
            <h1>Atualizar categoria</h1>
            <div class="form-option">
                <label for="category">Nome:</label>
                <br>
                <input type="text" name="name" id="inputCategory" value="{{category.name}}">
            </div>
            <button type="submit" id="newCategoryButton">Atualizar categoria</button>
        </form>
    </div>
</body>
</html>