
<link rel="stylesheet" href="/css/root.css">
<div class="container">
    <div class="cards">
        {{#each result}}
            <div class="card">
                <h4>{{this.name}}</h4>
            </div>
        {{/each}}
    </div>
</div>